div.container{
    height: 650px;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 690px;
}

table{
    text-align:center; 
    width: 100%;

}

.mat-column-fileName{
    text-align: left;
}

.mat-column-receiveTime{
    text-align: center;
    color: green;
}

.mat-column-transmitTime{
    text-align: center;
    color: darkorange;
}

.mat-column-fileSize{
    text-align: center;
}