<!-- input field -->
<div class="container mat-elevation-z8">

  <!-- Data Table -->
  <table mat-table [dataSource]="files">
    <!-- File Name Column -->
    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef>File Name</th>
      <td mat-cell *matCellDef="let file"> {{file.fileName}} </td>
    </ng-container>

    <!-- File Size Column -->
    <ng-container matColumnDef="fileSize">
      <th mat-header-cell *matHeaderCellDef>File Size</th>
      <td mat-cell *matCellDef="let file"> {{file.fileSize}} </td>
    </ng-container>
    
    <!-- Transmit Time Column -->
    <ng-container matColumnDef="transmitTime">
      <th mat-header-cell  *matHeaderCellDef>Transmit Time</th>
      <td mat-cell *matCellDef="let file"> {{file.transmitTime}} </td>
    </ng-container>
    
    <!-- Receive Time Column -->
    <ng-container matColumnDef="receiveTime">
      <th mat-header-cell  *matHeaderCellDef>Receive Time</th>
      <td mat-cell *matCellDef="let file"> {{file.receiveTime}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
  </table>
</div> 